.resultsbox {
  background-color: #fff;
  z-index: 5;
  position: relative;
  bottom: 8rem;
  width: fit-content;
  border: none;
  border-radius: 1rem;
  margin: 0 12rem;
  padding: 3% 5%;
}
.resultsinput {
  /* border: none; */
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.8rem;
  text-align: center;
  border-right: 1px solid;
}
@media (min-width: 280px) and (max-width: 575px) {
  .resultsbox {
    margin: 0 4rem;
    width: 60%;
  }
}
@media (min-width: 576px) and (max-width: 76px) {
  .resultsbox {
    margin: 0 5rem;
  }
}

@media (min-width: 1024px) {
  .resultsbox {
    margin: 0 4rem 2rem;
    width: 87%;
  }
}
